{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body %}
	<div class="container">

		<form method="post">

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mt-5 mb-3 font-weight-normal">Connexion</h1>

			<div class="card">
				<div class="card-body">

					{% if app.user %}
						<p>Vous êtes connecté en tant que
							{{ app.user.fullName }}</p>
						<div class="d-flex justify-content-center">
							<a href="{{ path('app_logout') }}" class="btn btn-outline-primary center">
								<i class="fas fa-sign-out-alt"></i>
								Logout
							</a>
						</div>
					{% else %}

						<h2 class="h4">Première visite ?</h2>
						<p>Créez votre espace client</p>

						<div class="d-flex justify-content-center mt-3">
							<a href="{{ path('app_register') }}" class="btn btn-outline-primary">
								<i class="fas fa-user-plus"></i>
								S'enregistrer
							</a>
						</div>

						<hr class="m-5">

						<h2 class="h4">Déjà inscrit ?</h2>
						<p>Connectez-vous à votre compte</p>

						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
						{# See https://symfony.com/doc/current/security/remember_me.html #}
						{# <div class="checkbox mb-3"> #}
						{# <label> #}
						{# <input type="checkbox" name="_remember_me"> Remember me #}
						{# </label> #}
						{# </div> #}

							<div class="d-flex justify-content-center mt-3"> <button class="btn btn-lg btn-primary" type="submit">
								<i class="fas fa-sign-in-alt"></i>
								Se connecter
							</button>
						</div>

					{% endif %}

				</div>
			</div>
		</form>
	</div>
{% endblock %}
