{% extends "pressure/index.html.twig" %}

{% block complement %}
	<div class="container mt-5">

		<h1>Calcul des pressions</h1>

		{{ form_start(formView) }}

		{{ form_errors(formView) }}

		{{ form_row(formView.tempGround) }}

		<div class="col">
			<div class="row">
				<div class="col" style="border: 1px solid grey">
					Avant Gauche :
					{{ form_row(formView.tempFrontLeft) }}
					Press.
					{{ pressureRecord.pressFrontLeft|number_format(2, ',') }}
				</div>
				<div class="col" style="border: 1px solid grey">
					Avant Droit :
					{{ form_row(formView.tempFrontRight) }}
					Press.
					{{ pressureRecord.pressFrontRight|number_format(2, ',') }}
				</div>
			</div>
			<div class="row">
				<div class="col" style="border: 1px solid grey">
					Arrière Gauche :
					{{ form_row(formView.tempRearLeft) }}
					Press.
					{{ pressureRecord.pressRearLeft|number_format(2, ',') }}
				</div>
				<div class="col" style="border: 1px solid grey">
					Arrière Droit :
					{{ form_row(formView.tempRearRight) }}
					Press.
					{{ pressureRecord.pressRearRight|number_format(2, ',') }}
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">
			<i class="fas fa-arrow-right"></i>
		</button>

		{{ form_end(formView) }}

	</div>
{% endblock %}
