{% extends "pressure/base.html.twig" %}

{% block combination %}
	{% include "pressure/_combination-info.html.twig" %}
{% endblock %}

{% block buttons %}
	{% include "pressure/_buttons.html.twig" %}
{% endblock %}

{% block content %}

	<div class="card mt-5">

		<div class="card-header">
			<h2>{% if id %}Modification du{% else %}Nouveau{% endif %} relevé</h2>
		</div>

		<div class="card-body">

			{{ form_start(formView) }}

			{{ form_errors(formView) }}

			{# TEMPERATURE PISTE #}
			<div class="d-flex" style="flex-direction: row; justify-content: center">
				<div class="card bg-light" style="width: 300px">
					<div class="card-body text-center">
						{# <h5 class="card-title">Piste</h5> #}
						<table class="align-middle">
							<tbody>
								<tr>
									<th>Piste : </th>
									<td><i class="fas fa-thermometer-half"></i></td>
									<td>{{ form_row(formView.tempTrack) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			{# ETIQUETTE AVANT #}
			<div class="mt-4 text-center">Avant</div>

			<div
				style="
					position: relative;
					height: 400px;
					width: 100%;
					background-image: url('{{ asset('img/vehicle.png') }}');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center">
			
				{# PNEU AVANT GAUCHE #}
				<div class="card bg-light" style="position: absolute; top: 40px; left: 20px; width: 200px">
					<div class="card-body text-center">
						{# <h5 class="card-title">Avant Gauche</h5> #}
						<table class="align-middle">
							<tbody>
								<tr>
									<th><i class="fas fa-thermometer-half"></i></th>
									<td>{{ form_row(formView.tempFrontLeft) }}</td>
								</tr>
								<tr>
									<th><i class="fas fa-tachometer-alt"></i></th>
									<td>{{ form_row(formView.pressFrontLeft) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				{# PNEU AVANT DROIT #}
				<div class="card bg-light" style="position: absolute; top: 40px; right: 20px; width: 200px">
					<div class="card-body text-center">
						{# <h5 class="card-title">Avant Droit</h5> #}
						<table class="align-middle">
							<tbody>
								<tr>
									<th><i class="fas fa-thermometer-half"></i></th>
									<td>{{ form_row(formView.tempFrontRight) }}</td>
								</tr>
								<tr>
									<th><i class="fas fa-tachometer-alt"></i></th>
									<td>{{ form_row(formView.pressFrontRight) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				{# ETIQUETTES LATERALES #}
				<div class="d-flex" style="position: absolute; top: 200px; width: 100%; justify-content: space-between">
					<div class="mx-5">Gauche</div>
					<div class="mx-5">Droite</div>
				</div>
			
				{# PNEU ARRIERE GAUCHE #}
				<div class="card bg-light" style="position: absolute; bottom: 0px; left: 20px; width: 200px">
					<div class="card-body text-center">
						{# <h5 class="card-title">Arrière Gauche</h5> #}
						<table class="align-middle">
							<tbody>
								<tr>
									<th><i class="fas fa-thermometer-half"></i></th>
									<td>{{ form_row(formView.tempRearLeft) }}</td>
								</tr>
								<tr>
									<th><i class="fas fa-tachometer-alt"></i></th>
									<td>{{ form_row(formView.pressRearLeft) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				{# PNEU ARRIERE DROIT #}
				<div class="card bg-light" style="position: absolute; bottom: 0px; right: 20px; width: 200px">
					<div class="card-body text-center">
						{# <h5 class="card-title">Arrière Droit</h5> #}
						<table class="align-middle">
							<tbody>
								<tr>
									<th><i class="fas fa-thermometer-half"></i></th>
									<td>{{ form_row(formView.tempRearRight) }}</td>
								</tr>
								<tr>
									<th><i class="fas fa-tachometer-alt"></i></th>
									<td>{{ form_row(formView.pressRearRight) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			{# ETIQUETTE ARRIERRE #}
			<div class="text-center">Arrière</div>

			{# COMMENTAIRE #}
			{{ form_row(formView.note) }}

			{# BOUTON #}
			<div class="d-flex" style="justify-content: center">
				<button type="submit" class="btn btn-primary mt-3">
					<i class="fas fa-save"></i>
					Enregistrer
				</button>
			</div>

			{{ form_end(formView) }}

		</div>
	</div>

{% endblock %}
